<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password has bee changed</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
      font-family: inter, sans-serif;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="background-color: #f9f9f9"
    >
      <tr>
        <td align="center">
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              background-color: #ffffff;
              padding: 20px;
              border: 1px solid #e5e5e5;
            "
          >
            <tr>
              <td align="left" style="padding-bottom: 20px">
                <img
                  src="https://lightningtechnologies.net/assets/logo-descriptive.png"
                  alt="LightningTechnologies"
                  width="130"
                  style="display: block"
                />
              </td>
            </tr>
            <tr>
              <td
                style="
                  font-size: 16px;
                  text-align: center;
                  color: #333333;
                  padding-bottom: 10px;
                "
              >
                <h2 style="color: #333333; padding-bottom: 10px">
                  Did you change your password?
                </h2>
              </td>
            </tr>
            <tr>
              <td style="font-size: 16px; color: #333333; padding-bottom: 20px">
                Hi [Name],
              </td>
            </tr>
            <tr>
              <td style="font-size: 16px; color: #333333; padding-bottom: 20px">
                We noticed the password for your Lightning Technologies account
                was recently changed.
              </td>
            </tr>
            <tr>
              <td style="font-size: 16px; color: #333333; padding-bottom: 20px">
                If you didn't make the request, just ignore this message.
                Otherwise, you can secure your account using the link below.
              </td>
            </tr>
            <tr>
              <td align="left" style="padding-bottom: 20px">
                <a
                  href="[RESET_LINK]"
                  style="
                    color: #00aeef;
                    text-decoration: underline;
                    font-size: 16px;
                    border-radius: 5px;
                  "
                  >Secure Your Account</a
                >
              </td>
            </tr>
            <tr>
              <td style="font-size: 16px; color: #333333">
                Thanks,<br />The LightningTechnologies team
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; color: #aaaaaa; padding-top: 30px">
                Sent with ♥ from LightningTechnologies<br />
                LightningTechnologies, Pune, India<br />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
